body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(BackgroundMobile.jpg);
}

section {
    border: 2px solid black;
    width: 10em;
    height: 10em;
    padding: 1em;
    margin: 1em;
    margin-top: 60vh;
    background-color: white;
}

section:first-of-type {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

h1 {
    margin: 0;
    font-size: 1em;
}

img {
    width: 5em;
    margin-top: 1em;
}

@media (min-width: 750px) {
    body {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 99vh;
        background-image: url(BackgroundPc.jpg);
    }

    section {
        margin-top: 1em;
    }
}